// 
display:grid;
grid-template-columns: 10px 10px 1fr 100%;
grid-template-rows: 10px 20px 2fr 3fr;
grid-gap:20px;

//Item
grid-column:1/3;
grid-row:2/5;

justify-self:center | end | start;
align-self: center | end | start;

//container
justify-items:center;
align-items:center;

grid-template-areas:
"header header header" 
"advert content content" 
"footer footer footer";

//item
grid-area:{name of the are};
grid-area: 1HS/2VS/2HE/5VE;

// container

grid-template-columns: repeat( colums, % px fr );
grid-template-rows: repeat( rows, % px fr );

grid-template-columns: minmax(min px | % | fr, max px | % | fr);

repeat(auto-fill, minmax( 60px, 1fr ))

repeat( auto-fit, minmax( 60px, 1fr ))
